<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623338569626-u9c8pecbp2uct6bk3vlg7p0movusio74.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623338569626-u9c8pecbp2uct6bk3vlg7p0movusio74</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>623338569626-nrlj49a6dglc3qof13lufm0ne9d1kjhu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBMIAOYa-sqbdLTCYhp3YucRloN_Lur0jE</string>
	<key>GCM_SENDER_ID</key>
	<string>623338569626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zporterTacticalBoard</string>
	<key>PROJECT_ID</key>
	<string>zporter-board</string>
	<key>STORAGE_BUCKET</key>
	<string>zporter-board.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623338569626:ios:7aca690410804179120423</string>
</dict>
</plist>